* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 450px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .form-control {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .error {
    color: red;
  }

  input {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.25);
  }
  input:invalid:not(:placeholder-shown) {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.25);
  }

  label:has(+ input:invalid:not(:placeholder-shown)) {
    color: red;
  }

  input:valid + p.error {
    display: none;
  }
}

.visible {
  display: initial;
}
